<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">

    <title>حسابي</title>


</head>

<body>
    <div class="container">
        <h2>حسابي</h2>
        <div class="profile-pic-wrapper">
         {% if user.profile_image %}
             <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}?v=1" width="150">
         {% else %}
             <img src="{{ url_for('static', filename='uploads/default.png') }}" width="150">
         {% endif %}

        </div>

        <div class="profile-info">
            <p><strong>الاسم:</strong> {{ user.username }}</p>
            <p><strong>الإيميل:</strong> {{ user.email }}</p>
            </p>
        </div>

        <div class="btn-container">
            <a class="btn" href="{{ url_for('loading_bp.account_settings') }}">تعديل البيانات</a>
            <a class="btn logout" href="{{url_for('loading_bp.landing_page')}}">الرجوع للرئيسية</a>
            <a class="btn logout" href="{{ url_for('loading_bp.logout') }}">تسجيل الخروج</a>
        </div>
    </div>
</body>
</html>
